<div class="container">
  <h1>Your bookmarks</h1>

  <hr />

  <div class="list-group" *ngIf="bookmarks.length">
    <div class="list-group-item list-group-item-action flex-column align-items-start " *ngFor="let bookmark of bookmarks">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{bookmark.title}}</h5>
      </div>
      <small><a href="{{bookmark.link}}" target="_blank">{{bookmark.link}}</a></small>
      <small><a [routerLink]="['/bookmarks', bookmark.id]">Edit</a></small>
      <small><a href="javascript:;" (click)="delete(bookmark)">Delete</a></small>
    </div>
  </div>
  <br /><br />
  <div class="details" *ngIf="selectedBookmark">
    <h1>Bookmark details</h1>
    <input type="text" [(ngModel)]="selectedBookmark.title" />
    <div class="description">{{selectedBookmark.title}}</div>
    <a href="{{selectedBookmark.link}}">{{selectedBookmark.link}}</a>
  </div>
</div>
